<div class="mt-16" id="content">
    <div class="bg-gradient-to-bl from-yellow-50 to-stone-50 h-screen">
        <div class="flex flex-col items-center justify-center pt-14 px-32">
            <h1 class="text-4xl font-mono font-bold mb-6">Skills</h1>
        </div>
        <div class="w-fit bg-indigo-50 border border-gray-700 mx-auto">
            <ul id="skill-menu" class="flex p-[1px]">
                <li id="languages" class="cursor-pointer px-4 py-2 selected-skill">Languages</li>
                <li id="fws-tools" class="cursor-pointer px-4 py-2 unselected-skill">Frameworks/Tools</li>
                <li id="web" class="cursor-pointer px-4 py-2 unselected-skill">Web</li>
                <li id="dbs-platforms" class="cursor-pointer px-4 py-2 unselected-skill">DBs and Platforms</li>
                <li id="spec" class="cursor-pointer px-4 py-2 unselected-skill">Specialty Areas</li>
                <li id="other" class="cursor-pointer px-4 py-2 unselected-skill">Other Skills</li>
            </ul>
        </div>
    </div>
</div>