<div class="mt-16" id="content">
    <div class="bg-gradient-to-bl from-yellow-50 to-stone-50 h-screen">
        <div class="w-full flex flex-col items-center justify-center pt-14 px-32">
            <h1 class="text-4xl font-mono font-bold mb-6">Skills</h1>
<table class="table-auto w-full">
    <thead>
        <tr>
            <th class="pb-3 font-normal uppercase text-neutral-500 text-sm tracking-wider border-b border-neutral-600 text-left">
                Programming Languages
            </th>
            <th class="pb-3 font-normal uppercase text-neutral-500 text-sm tracking-wider border-b border-neutral-600 text-left">
                Frameworks and Tools
            </th>
            <th class="pb-3 font-normal uppercase text-neutral-500 text-sm tracking-wider border-b border-neutral-600 text-left">
                Web Development
            </th>
            <th class="pb-3 font-normal uppercase text-neutral-500 text-sm tracking-wider border-b border-neutral-600 text-left">
                Databases and Platforms
            </th>
            <th class="pb-3 font-normal uppercase text-neutral-500 text-sm tracking-wider border-b border-neutral-600 text-left">
                Specialty Areas
            </th>
            <th class="pb-3 font-normal uppercase text-neutral-500 text-sm tracking-wider border-b border-neutral-600 text-left">
                Other Skills
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="pt-5 text-left">Python</td>
            <td class="pt-5 text-left">Spring Boot</td>
            <td class="pt-5 text-left">HTML5, CSS3</td>
            <td class="pt-5 text-left">MySQL</td>
            <td class="pt-5 text-left">AI/ML: Neural Networks</td>
            <td class="pt-5 text-left">English</td>
        </tr>
        <tr>
            <td class="text-left">Java</td>
            <td class="text-left">React</td>
            <td class="text-left">Responsive Design</td>
            <td class="text-left">PostgreSQL</td>
            <td class="text-left">3D Web Development: Three.js</td>
            <td class="text-left">Swedish</td>
        </tr>
        <tr>
            <td class="text-left">JavaScript/TypeScript</td>
            <td class="text-left">TensorFlow</td>
            <td class="text-left">REST APIs</td>
            <td class="text-left">MongoDB</td>
            <td class="text-left">Software Engineering: Agile, TDD</td>
            <td class="text-left">Hungarian</td>
        </tr>
        <tr>
            <td class="text-left">PHP (Learning)</td>
            <td class="text-left">Git, Docker</td>
            <td class="text-left">Web Accessibility</td>
            <td class="text-left">Kubernetes</td>
            <td class="text-left">Open Source Contributions</td>
            <td class="text-left">Team Collaboration</td>
        </tr>
        <tr>
            <td class="text-left">Golang (Learning)</td>
            <td class="text-left">PhpStorm, PyCharm</td>
            <td class="text-left">JWT Authentication</td>
            <td class="text-left"></td>
            <td class="text-left"></td>
            <td class="text-left">Problem-Solving</td>
        </tr>
    </tbody>
</table>        </div>
    </div>
</div>