<div id="content" class="bg-gradient-to-bl from-yellow-50 to-stone-50 snap-y snap-mandatory overflow-auto h-screen">
    <section id="home" class="snap-start snap-always mt-16 scroll-mt-16 bg-base-200 h-[80vh] bg-gradient-to-bl from-blue-900 to-violet-950">
        <div class="h-full flex flex-col justify-center">
            <div class="pt-6 md:pt-0 min-w-full md:min-w-[50vw] md:min-h-[260vh] md:absolute md:right-0 md:top-44 pointer-events-none">
                <div id="displayContainer"
                     class=" md:pt-0 w-screen h-96 block md:w-[50vw] md:min-h-[45vw] md:sticky md:top-44">
                    <canvas id="displayContent" class="block w-full h-full"></canvas>
                </div>
            </div>
            <div class="text-slate-100 mx-6 -mt-12 md:mt-0 md:mx-36">
                <h1 class="text-3xl md:text-5xl font-semibold font-mono">Hej! <br>Glad you're here :)</h1>
                <p class="py-6 font-light md:max-w-[40vw]">
                    My name is János, and I'm a third-year Software Engineering student in Sweden.
                    Welcome to my personal website!
                </p>
            </div>
        </div>
    </section>
    <section id="about" class="h-[90vh] snap-start snap-always scroll-mt-16">
        <div class="h-full flex flex-col justify-center">
            <div class="text-slate-900 mx-6 md:mx-36">
                <h1 class="text-3xl font-semibold font-mono max-w-64 md:max-w-full">A few things about me</h1>
                <ul class="py-6 ">
                    <li class="mb-2">👨🏻‍💻 I'm a Software Engineering student from Hungary</li>
                    <li class="mb-2">🇸🇪 I currently live in Gothenburg, Sweden</li>
                    <li class="mb-2">🔧 I've worked on lots of <a class="link">projects</a> as part of my course</li>
                    <li class="mb-2">🌟 My favourite programming language is <span class="line-through">Python</span>
                        PHP
                        ;)
                    </li>
                    <li class="mb-2">🚀 I'm always working on a few side projects to increase my skills</li>
                    <li class="mb-2">🧗🏻‍♂️ In my free time, I enjoy climbing, hiking, and being in nature</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="skills" class="h-[90vh] mb-12 snap-start snap-always scroll-mt-16">
        <div class="flex flex-col items-center justify-center pt-14 mb-6">
            <h1 class="text-4xl font-mono font-bold">Skills</h1>
        </div>
        <div id="skills-menu-container"
             class="w-fit bg-indigo-50 border border-gray-700 mx-auto mb-6">
            <ul id="skill-menu" class="flex p-[1px]">
                <li id="languages"
                    hx-get="/skills/languages"
                    hx-target="#skill-list"
                    hx-swap="outerHTML transition:true"
                    class="cursor-pointer px-4 py-2 whitespace-nowrap selected-skill">Languages</li>
                <li id="fws-tools"
                    hx-get="/skills/frameworks_tools"
                    hx-target="#skill-list"
                    hx-swap="outerHTML transition:true"
                    class="cursor-pointer px-4 py-2 whitespace-nowrap unselected-skill">
                    Frameworks/Tools
                </li>
                <li id="web" class="cursor-pointer px-4 py-2 whitespace-nowrap unselected-skill">Web</li>
                <li id="dbs-platforms" class="cursor-pointer px-4 py-2 whitespace-nowrap unselected-skill">DBs and
                    Platforms
                </li>
                <li id="spec" class="cursor-pointer px-4 py-2 whitespace-nowrap unselected-skill">Specialty Areas
                </li>
                <li id="other" class="cursor-pointer px-4 py-2 whitespace-nowrap unselected-skill">Other Skills</li>
            </ul>
        </div>
        <div class="max-w-full flex mx-44 gap-10 justify-between">
            {% include 'partials/skills/languages.html' %}
            <div class="w-full">
                <div class="h-[30vw]">
                </div>
            </div>
        </div>
    </section>
    <section id="projects" class="h-screen snap-start snap-always">
        <div class="flex flex-col items-center justify-center pt-24 mb-24">
            <h1 class="text-4xl font-mono font-bold">Projects</h1>
        </div>
    </section>
    {% include 'elements/footer.html' %}
</div>
