<footer class="footer bg-slate-900 text-base-content px-6 py-16 gap-10 md:p-24 text-slate-300 flex md:gap-32">
        <div class="max-w-lg">
            <h2 class="text-lg font-bold mb-4">János Litkei 2024 | MIT License</h2>
            <p class="text-sm">
            Designed loosely in Figma, coded in PyCharm using Tailwind CSS and DaisyUI for the styling,
                HTMX for the interactivity and Flask for the backend. Deployed on a Rackforest VPS.
            </p>
        </div>
</footer>