<footer class="footer bg-slate-900 text-base-content py-24 px-24 text-slate-300 flex gap-32">
        <div class="max-w-lg">
            <h2 class="text-lg font-bold mb-4">János Litkei 2024 | MIT License</h2>
            <p class="text-sm">
            Designed loosely in Figma, coded in PyCharm using Tailwind CSS and DaisyUI for the styling,
                HTMX for the interactivity and Flask for the backend. Deployed on a Rackforest VPS.
            </p>
        </div>
        <nav class="flex flex-col text-sm">
            <h6 class="font-bold tracking-widest uppercase pb-4 text-base">Pages</h6>
            <a class="pb-2" href="">Home</a>
            <a class="pb-2" href="">My skills</a>
            <a class="pb-2" href="">Project</a>
            <a class="pb-2" href="">Blog</a>
        </nav>
</footer>