<footer class="footer bg-base-300 text-base-content py-24 px-16">
        <div class="max-w-lg">
            <h2>János Litkei 2024 | MIT License</h2>
            <p>
            Designed loosely in Figma, coded in PyCharm using Tailwind CSS and DaisyUI for the styling,
                HTMX for the interactivity and Flask for the backend. Deployed on a Rackforest VPS.
            </p>
        </div>
        <nav>
            <h6 class="footer-title">Pages</h6>
            <a class="link link-hover">Home</a>
            <a class="link link-hover">My skills</a>
            <a class="link link-hover">Project</a>
            <a class="link link-hover">Blog</a>
        </nav>
</footer>