<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>János Litkei</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-slate-200 font-sans leading-normal tracking-normal">
<div class="flex flex-col md:flex-row h-screen">
    <!-- Sidebar -->
    <div id="sidebar"
         class="bg-slate-900 w-full md:w-1/4 p-6 md:p-8 flex flex-col justify-between h-full hidden md:flex">
        <div class="text-slate-200 mb-12 hidden md:block md:text-left">
            <span class="block text-4xl font-bold tracking-tight mb-4">János Litkei</span>
            <span class="block text-xl font-semibold tracking-tight mb-6">Software Engineer</span>
        </div>
    </div>
</div>

</body>
</html>