{% extends 'base_generic.html' %}
{% block title %}
    <title>János Litkei</title>
{% endblock %}
{% block content %}
    <div class="mt-16" id="content">
        <div class="hero bg-base-200 min-h-[60vh] md:min-h-[80vh] bg-gradient-to-bl from-blue-900 to-violet-950">
            <div class="hero-content flex-col md:gap-44 md:flex-row-reverse md:px-16 ">
                <div class="min-w-full md:min-w-[40vw] lg:min-h-[152vh] md:absolute md:right-0 md:top-44 z-40">
                    <div class="w-screen min-h-64 block md:w-[45vw] md:min-h-[45vw] md:sticky md:top-44">
                        <canvas id="displayContent" class="block w-full h-full"></canvas>
                    </div>
                </div>
                <div class="hidden md:block md:min-w-80 md:min-h-80"></div>
                <div class="text-white ">
                    <h1 class="text-3xl md:text-5xl font-semibold font-mono">Hej! <br>Glad you're here :)</h1>
                    <p class="py-6 font-light md:max-w-[40vw]">
                        My name is János, and I'm a third-year Software Engineering student in Sweden.
                        Welcome to my personal website!
                    </p>
                </div>
            </div>
        </div>
        <div class="hero bg-base-200 min-h-[80vh] bg-gradient-to-bl from-yellow-50 to-stone-50">
            <div class="hero-content flex-col gap-24 lg:flex-row-reverse lg:px-16 ">
                <div class="hidden lg:block lg:min-w-80 lg:min-h-80"></div>
                <div class="text-black">
                    <h1 class="text-3xl font-semibold font-mono">A few things about me</h1>
                    <ul class="py-6 ">
                        <li>👨🏻‍💻 I'm a Software Engineering student from Hungary</li>
                        <li>🇸🇪 I currently live in Gothenburg, Sweden</li>
                        <li>🔧 I've worked on lots of <a class="link">projects</a> as part of my course</li>
                        <li>🌟 My favourite programming language is <span class="line-through">Python</span> PHP ;)
                        </li>
                        <li>🚀 I'm always working on a few side projects to increase my skills</li>
                        <li>🧗🏻‍♂️ In my free time, I enjoy climbing, hiking, and being in nature</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
