<div class="flex items-center justify-between w-screen bg-slate-900 fixed z-50 h-16 top-0 px-6">
    <a class="text-xl text-slate-100 font-mono" href="/">Janos_Litkei</a>
    <div class="hidden md:block md:flex-none">
        <ul class="flex items-center justify-between gap-2 px-1 text-slate-100">
            <li><a class="hover:bg-slate-700/50 px-4 py-2 transition transition-duration-150" href="">Home</a></li>
            <li><a class="hover:bg-slate-700/50 px-4 py-2 transition transition-duration-150" href="">My skills</a></li>
            <li><a class="hover:bg-slate-700/50 px-4 py-2 transition transition-duration-150" href="">Projects</a></li>
            <li><a class="hover:bg-slate-700/50 px-4 py-2 transition transition-duration-150" href="">Blog</a></li>
        </ul>
    </div>
</div>
